header {
    background-color: #18181B;
    top: 0;
    left: 0;
    z-index: 9;
    transition: 0.5s ease;
}


.active {
    color: #2AB7A6;
    text-decoration-line: underline;
    text-underline-offset: 4px;
}

ul{
    display: flex;
    
}

// burger

